.mainContainer{ 
    width:100%; 
    

    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
} 
.mainContainerTitleContainer{ 
   
    margin:30px;
} 
.mainContainerTitle{ 
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.mainContainerOrder{ 
    padding: 20px 30px; 
    background-color: blueviolet; 
    border: 2px solid white; 
    color:white;; 
    cursor:pointer
    ;
    font-size: 24px; 
    font-weight: bold;
    border-radius: 35px;
    text-decoration: none;
}
.mainContainerOrder:hover{ 
    
}